#site_logo{
    margin: auto;
    display: block;
    width: 500px;
}

button{
    padding:5px;
    margin:5px;
}

a {
    color: #8accff;
    text-decoration: none;
}

.greenButton {
    background-color: green;
    color: white;
}
  
.redButton {
    background-color: red;
    color: white;
}

.messageError {
    color: red;
}

.messageSuccess {
    color: green;
}

ul{
    list-style-type: none;
}

#navbar{
    display: flex;
}

#navbar ul{
    width:100%;
}

#navbar li{
    display: inline;
    float:left;
    margin:15px;
}

#navbar a {
    display: block;
    font-size: larger;
}

#navbar li[data-name="Logout"]{
    float:right;
}

#navbar li[data-name="Logout"] a{
    color:rgb(180, 0, 0);
}

#navbar a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #8accff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#navbar a:hover {
    color: #cedbe5;
    background-color: #0d1e36;
}

.center_elem{
    text-align: center;
    margin: auto;
}

.border{
    border: solid 2px;
}

.medium_window{
    width: 30%;
}

.full_width{
    width:100%;
}

.full_width td{
    vertical-align: top;
}

body{
    font-family: cursive;
    background-color: #1b2838;
    color: #98acbb;
    font-family: Arial, Helvetica, sans-serif
}

.data_list_item{
    background-color: lightskyblue;
}

.padded_item{
    padding: 10px;
}

.underline{
    text-decoration: underline;
}

.indicator_text{
    color: orange;
}

.two_column {
    float: left;
    width: 50%; /* Each column takes up 33.33% of the width */
    padding: 15px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
}